.contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contents svg {
  color: #f67280;
  margin-right: 10px;
}
.contents.checked .text {
  text-decoration: line-through;
  opacity: 0.6;
}
